/* 清除样式 */
ul,ol{
    list-style: none;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: none;
}
/* a标签下划线 */

/* 注册登录按钮 */
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    margin-top: -8px;
    margin-left: 20px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
/* 注册登录按钮 */


/* 模态框注册登录位置 */
.form-group .code{
    position: relative;
    top: -30px;
    right: -190px;
    width: 180px;
}
.form-group .code a{
    line-height: 10px;
    padding-left: 10px;
}
/* 模态框注册登录位置 */

/* 搜索框内容 */
.form-control {
    border-radius: 34px;
}
/* 搜索框位置 */
.form-group {
    margin-right: 60px;
}
/* 搜索框内容 */

/* 轮播图内容 */
div#slider-item {
    position: relative;
    top: -78px;
    width: 605px;
    height: 68px;
    /* 要有宽度才能用margin auto */
    margin: 0 auto;
    overflow: hidden;
}
div#slider-item .left{
    background: url(../images/icon/left.png) no-repeat center center;
    margin-right: 8px;
}
div#slider-item .f1{
    float: left;
}
div#slider-item .controll-btn{
    width: 29px;
    height: 100%;
    cursor: pointer;
}
div#slider-item .item{
    width: 530px;
    height: 68px;
    background: url(../images/icon/shack.png) no-repeat center center;
    position: relative;
    overflow: hidden;
}
div#slider-item .right{
    background: url(../images/icon/right.png) no-repeat center center;
    margin-left: 8px;
}
div#slider-item .item .smallpics{
    margin-top: 4px;
    position: absolute;
}
div#slider-item .item .smallpic{
    float: left;
    width: 94px;
    height: 60px;
    margin: 0 6px;
    position: relative;
    cursor: pointer;
}
div#slider-item .item .smallpic img{
    width: 90px;
    height: 46px;
    /* 处理图片变形的问题 */
    object-fit: cover;
    border: 1px solid #000;
    position: absolute;
    top: 6px;
    left: 1px;
    z-index: 2;
}
/* 轮播图内容 */
/* 漫画项内容 */
div.info{
    margin-top:-5px; 
    background: url(../images/pattern-bg.png);
    padding: 5px 0;
}
/* 图片和简介区分 */
div.projects-band-nohidden .description,div.projects-band .description{
    display: block;
    height:40px;
}
/* 标题居中 */
div.projects-band-nohidden .description .title,div.projects-band .description .title{
    font-weight: bolder;
    padding:5px 0px; 
    text-align: center;
    margin: 0;
}
div.info p{
    margin:0 0 5px; 
}
/* 指定变色 */
.description:hover .title{
    color: #6cb132;
}
.inline-border:hover +div a .title{
    color: #6cb132;
}
.selected{
    color: #6cb132;
}
/* 漫画项内容 */
/* 排行榜内容 */
div#rank{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
div#rank .rank-items{
    height: 90px;
    margin: 5px 0;
    border-bottom: #c9c8c8 dashed 1px;
}
div#rank .rank-items a{
    position: unset;
    padding: unset;
}
div#rank .rank1,div#rank .rank2,div#rank .rank3{
    width: 31.555555555555557%;
    margin-right: 22px;
    float: left;
    min-height: 1px;
}
div#rank .rank-items img{
    width: 120px;
    height: 82px;
    object-fit: cover;
    border: 1px solid #000;
}
/* 排行处理 */
div#rank .rank-items .rank-info{
    padding-top: 5px;
}
div#rank .rank-items .rank-info span{
    margin-top:20px; 
    display: block;
    height: 25px;
    width: 25px;
    background-color: darkorange;
    text-align: center;
    line-height: 25px;
    margin: 0 10px;
    border-radius: 25px;
    color: white;
}
/* 标题处理 */
div#rank .rank-items div .title{
    margin-top:0px; 
    font-weight: bold;
    font:HelveticaLTStdRoman, sans-serif;
}
/* 文本介绍处理 */
div#rank .rank-items div p{
    width: 227px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.mytext-title{
    font-weight: bolder;
    font:22px HelveticaLTStdRoman, sans-serif;
}
.mytext-p{
    font-weight: bolder;
    font-weight: 900;
    font:14px JapanRegular, sans-serif;
}
.mytext-p2{
    font-weight: bolder;
    font:16px HelveticaLTStdBold, sans-serif;
}
/* 排行榜内容 */

/* 👆上面是主页样式 */
/* *************************************************************** */
/* 华丽的分割线 */
/* *************************************************************** */

/* 自定义图标 */
[my-icon="icon-gufeng"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/gufeng.png);
    background-size: cover;
    position: relative;
    top: 50%;
    z-index: 99;
	
}
[my-icon="icon-gaoxiao"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/gaoxiao.png);
    background-size: cover;
    z-index: 99;
	
}
[my-icon="icon-xianxia"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/xianxia.png);
    background-size: cover;
    z-index: 99;
	
}
[my-icon="icon-xiaoyuan"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/xiaoyuan.png);
    background-size: cover;
    z-index: 99;	
}
[my-icon="icon-maoxian"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/maoxian.png);
    background-size: cover;
    z-index: 99;
	
}
[my-icon="icon-yanqing"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/yanqing.png);
    background-size: cover;
    z-index: 99;
	
}
[my-icon="icon-dushi"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/dushi.png);
    background-size: cover;
    z-index: 99;
	
}
[my-icon="icon-xuanhuan"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/xuanhuan.png);
    background-size: cover;
	z-index: 99;
}
[my-icon="icon-more"]
{
	display:block;
	width:80%;
	height:80%;
    background:url(../images/icons/portfolio/more.png);
    background-size: cover;
    z-index: 99;
}
[my-icon="icon-nan"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/nan.png);
    background-size: cover;
    z-index: 99;
	
}
[my-icon="icon-nv"]
{
	display:block;
	width:100%;
	height:100%;
    background:url(../images/icons/portfolio/nv.png);
    background-size: cover;
    z-index: 99;
}
/* 自定义图标 */

/* 漫画列表 */
div#book-list{
    width: 100%;
    margin: 0 auto;
}
.list{
    list-style: none;
    margin-left: 10px;
}
.list li{
    float: left;
    margin: 0 15px;
    position: relative;
}
.list div{
    width: 80px;
    height: 80px;
    border-radius: 80px;
}
.list-noset{
    background-color: #1577b8;
    border: #67A6D1 5px solid;
}
.up{
    margin-top: -10px;
}
.list-select{
    border: #6cb132 5px solid;
    background-color: lawngreen
}
.list-active{
    margin-top: -10px;
    border: #6cb132 5px solid;
    background-color: lawngreen
}

.list span{
    width: 60px;
    height: 60px;
    margin:5px auto;
}
.list li p{
    text-align: center;
    margin-top: 10px; 
}
/* 漫画列表 */

/* 漫画项 */
ul.book-item li{
    transition: all 0.3s ease 0s;
}
ul.book-item li:hover{
transform: scale(1.1);
}
/* 漫画项 */